.pixel-grid {
    margin: 10px;
}

.pixel-line {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pixel {
    width: 2em;
    height: 2em;
    border: 1px solid black;
    transition: all 0.3s;
}
.colored-pixel {
    background: red;
}