.description {
    width: 80%;
    text-align: left;
    margin: 1em auto;
    box-sizing: border-box;
}
.description p {
    margin-left: 1em
}
.description h2 {
    font-size: 1.1em;
    margin: 0.7em auto 0.3em;
}

.step-table {
    width: 100%;
    margin: auto;
    text-align: center;
}
.step-table td, .step-table th {
    border: 1px solid rgb(125, 125, 125);
    padding: 0.2em;
}