* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
  --background-color: rgb(230, 210, 210);
  --border-color: rgba(0, 0, 0, 0.374)
}

#root {
  min-height: 100vh;
  background: var(--background-color);
}


.App {
  display: flex;
  flex-direction: column;
  padding: 1em;
  min-height: 100vh;
  padding-bottom: 0;
  align-items: center;
  text-align: center;
  gap: 2em;
}

.selector-wrapper {
  border-bottom: 1px solid black;
}

.selector-wrapper button {
  padding: 1em 2em;
  margin: 1em;
  border-radius: 0.7em;
  outline: none;
  border: 1px solid gray;
  cursor: pointer;
  transition: 0.3s;
}

.selector-wrapper button:hover {
  background:rgb(209, 193, 193);
}

.selected-button {
  background:rgb(180, 159, 159);
}

.copyright {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: center;
}

.copyright-content {
  width: 60%;
  padding: 0.2rem;
  border-top: 1px solid black;
}

@media (max-width: 767px) {
  * {
    font-size: 0.9em;
  }

  .copyright-content {
    width: 90%;
  }
}